@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
    --gradient: linear-gradient(90deg,#ff8a00,#e52e71);
    --herogradient: linear-gradient(to right top, #009efa, #0086ff, #006cff, #004bfa, #3712eb);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.hero {
    background-image: var(--herogradient);
    height: 900px;
    margin-top: -380px;
    margin-bottom: 200px;
    transform: skew(0deg, -10deg);
    background-size: 400%;
    animation: bg-scroll 30s infinite alternate;
}

@keyframes bg-scroll {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.hero-text {
    padding-top: 445px;
    color: white;
    z-index: 100;
    transform: skew(0deg, 10deg);
}

.btn-grd {
    background-image: var(--gradient);
    color: white;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    background-size: 300%;
    background-position: left;
    transition: 0.5s;
}

.btn-grd:hover {
    background-position: right;
}


.hero-text-small {
    color: white;
    opacity: 75%;
    font-size: 1.1rem;
}

.catalog-card-list {
    display: flex;
    padding: 2.5rem 3rem;
    overflow-x: hidden;
}

.catalog-card {
    display: flex;
    position: relative;
    flex-direction: column;

    height: 454px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 25px;
    background-color: white;
    color: black;

    transition: .4s;
}

.catalog-card:hover {
    transform: translateY(-2rem);
    color: black;
    height: 100%;
    margin-bottom: -41px;
}

.catalog-card h2 {
    font-size: 1.35rem;
    transition: .4s;
    font-weight: 700;
}

.catalog-card:hover h2 {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.8rem;
}

.catalog-card:hover~.catalog-card {
    transform: translateX(6rem);
}

/* select element selain first element */
.catalog-card:not(:first-child) {
    margin-left: -130px;
}